body{
	margin: 0px;
	padding: 0px;
}
.topbar{
	height: 30px;
	background-color: #fa983a;
	
}
#container{
	padding-left: 0px;
	margin-left: 0px;
}
.menu{
	margin-top: -30px;
	background-color: red;
	min-height: 575px;
	color: #fad390;
	font-weight: bold;
	padding: 30px;
}
.nav-link{

	color: #fad390;
	font-size: 4vh;
	font-weight: bold;
	margin: 15px;


}
.nav-link:hover{
	background-color:#ff6b81; 
    border-left: 10px solid #fa983a;
    color: #fad390;
    border-radius: 10px;
 }
 /*col-sm-3 closes here*/


 /*col-sm-9 start here*/
.imgbox{
	display: flex;

}
.img{
	height: 238px;
	width: 315px;
    margin: 2%;
	text-align: center;
}
.img:hover{
	height: 238px;
	width: 315px;
	background-color:#fad390;
	border-radius: 20px; 
}
.img img{
	position: relative;
	top:35%;
	left: 0%;
}


